@use '@angular/material' as mat;

@include mat.core();

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      plain-family: 'Manrope, system-ui, sans-serif',
      brand-family: '"Hanken Grotesk", system-ui, sans-serif',
      bold-weight: 700,
      medium-weight: 600,
      regular-weight: 400,
    ),
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: #fbf8ff;
  color: #1a1b21;
  margin: 0;
}
